@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body 
{
    background-image: url("../fundo.png");
    background-color: #FEF4DE;    
    
}

h3{
    
    color: #663128;
    font-size: 180px;
    font-family: Poppins;
    font-weight: 900px;
}

h1{
   
    color: #663128;
    font-weight: 300px;
    font-size: 100px;
    font-family: poppins;
    line-height: 150%;
}

span{
    justify-content: center;
    height: 72px;
    top: 531px;
    letter-spacing: 40px;
    color: #663128;
    font-weight: 900px;
    font-size: 115px;
    font-family: poppins;
    font-style: light;
}

a{
    font-size: 100px;
}
f{
    color: #663128;
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.section-1{
    display: flex;
    justify-content: center;
}



#center {
    display: flex;
    justify-content: center;
    padding: 300px 10px 10px 10px ;
    border: solid 3px red;
}

#titulo{
    display: flex;
    justify-content: center;
    padding: 0px 10px 10px 10px ;
    
}

.content_box1{
    position: relative;
    left: 17%;
    border-radius: 30px;
    background: #ffff;
    padding: 340px;
    width: 20%;
    height: 192px;
    border: solid 1px #663128ed;
    display: inline-block;
    margin: 30px;
}

.content_box2{
    position: relative;
    left: 1000px;
    top: 50px;
    border-radius: 100px;
    background: #ffff;
    padding: 340px;
    width: 19%;
    border: solid 3px #663128ed;
}

.content_box3{
    position: relative;
    left: 1000px;
    top: 50px;
    border-radius: 100px;
    background: #ffff;
    padding: 340px;
    width: 19%;
    border: solid 3px #663128ed;
}

.content_box4{
    position: relative;
    left: 1000px;
    top: 50px;
    border-radius: 100px;
    background: #ffff;
    padding: 340px;
    width: 19%;
    border: solid 3px #663128ed;
}
#botao